*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
}
header{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

main{
    height: 638px;
    width: 1024px;
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(6, 16.6%);
}

.link{
    text-decoration: none;
    color: black;
}

h3{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.0357143em;
    color: #979797;
    margin: 0;
}

#order-info{
    grid-column: 5/6;
    background: #E4CCF7;
    border-radius: 4px; 
    width: 227px;
    height: 100px;
    padding: 0 15px 10px 15px;
    line-height: 0;
    font-weight: 100;
    margin-top: 10px;
}

.main-bttn{
    grid-row: 1/2;
    background-color: white;
    width: 132px;
    height: 63px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border-color: #FF8684;  
    align-items: center;
    text-align: center;
    letter-spacing: 0.0357143em;
}

.menu-options{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 184px;
    height: 65px;
    border-color:#6DE7EF;  
    align-items: center;
    text-align: center;
    letter-spacing: 0.0357143em;
}

.ready{
    grid-column: 6/7;
    width: 75px;
    height: 75px;
    background: rgba(255, 4, 4, 0.36);
    border-radius: 50px;
}

#payments{
    grid-column: 5/7;
    grid-row: 1/6;
    background-color: rgba(220, 250, 230, 0.45);
    border-radius: 2px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
}

table{
    margin: 15px;
}
td,
th {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

#wrapper{
    width: 645px;
    height: 535px;
    background: rgba(220, 250, 230, 0.45);
    border-radius: 10px;
    grid-column: 1/5;
    grid-row: 1/7;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    justify-self: center;
}
.purple-bttns{
    width: 186px;
    height: 69px;
    background: #AA76D1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px; 
    color: #FFFFFF;
    font-weight: 500;
}

#ordering-bttns-grid{
    grid-column: 1/4;
    grid-row: 6/7;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-items: center;
}


.ingredients{
    background: #73D681;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    width: 184px;
    height: 65px;
    text-align: center;
    letter-spacing: 0.0357143em;
    color: #FFFFFF;
}

.lunch-options{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border-color: #FFFF66;
    width: 140px;
    height: 65px;
    padding: 0;
}

#form-name{
    grid-row: 3/4;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
    }

.label{
    font-size: 16px;
    text-align: center;
    }

.input-name{
    width: 337px;
    height: 41px;
    background-color: #E4E4E4;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

#breakfast-grid{
    grid-area: 1/1/4/4;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
}

#sandwich{grid-area: 1/1/2/3;}

#lettuce{grid-area: 2/1/3/2;}

#onion{grid-area: 3/1/4/2;}

#carrot{grid-area: 2/2/3/3;}

#chile{grid-area: 3/2/4/3;}

#coffe-a{grid-area: 1/3/2/4;}

#coffe-l{grid-area: 2/3/3/4;}

#juice{grid-area: 3/3/4/4;}

#lunch-menu{
    display:grid;
    width: 650px;
    height: 80px;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
}

#lunch-grid{
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    grid-column: 1/4;
    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    height: 328px;
    width: 645px;
}

#single { grid-area: 1/1/2/2; }
#double { grid-area: 1/3/2/4; }
#meat { grid-area: 2/1/3/2; }
#chicken { grid-area: 2/2/3/3; }
#veggie { grid-area: 2/3/3/4; }
#lettuce-1 { grid-area: 3/1/4/2; }
#onion-1 { grid-area: 3/2/3/3; }
#tomatoe { grid-area: 3/3/4/4; }
#chile-1 { grid-area: 4/1/5/2; }
#pickles { grid-area: 4/2/5/3; }
#aguacate { grid-area: 4/3/5/4; }

#extras-grid {
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    grid-column: 1/4;
    display: grid;
    grid-template-columns:repeat(4, auto);
    width: 645px;
 }

 #fries { grid-column: 2/3; }
 #rings { grid-column: 3/4; }

 #drinks-grid {
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    grid-column: 1/4;
    display: grid;
    grid-template-columns:repeat(2, auto);
    grid-row: 53px auto auto;
    width: 645px; 
    height: 230px;
 }

 #soda-title { grid-area: 1/1/2/2; }
 #soda-five { grid-area: 2/1/3/2; }
 #soda-seven { grid-area: 3/1/4/2; }
 #water-title { grid-area: 1/2/2/3; }
 #water-five { grid-area: 2/2/3/3; }
 #water-seven { grid-area: 3/2/4/3; }


